@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
    h1 {
        @apply font-semibold text-black text-4xl;
    }
    h2 {
        @apply font-semibold text-black text-3xl;
    }
    h3 {
        @apply font-semibold text-black text-2xl;
    }
}

@layer components {
    /* .link {
      @apply flex justify-center items-center text-sm text-zinc-400 hover:text-black duration-300 transition ease-in-out cursor-pointer;
    }
  
    .card {
      @apply w-5 h-5 lg:h-36 hover:scale-105 p-12 bg-white shadow-sm shadow-zinc-200/50 rounded-3xl duration-500 ease-in-out;
    } */

    @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-4px);
        }
        50% {
          transform: translateX(4px);
        }
        75% {
          transform: translateX(-4px);
        }
        100% {
          transform: translateX(0);
        }
    }
      
    .animate-shake:hover {
        animation: shake 0.5s ease-in-out;
        transform-origin: center;
    }
}